@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-unbounded: 'Unbounded', cursive;
  }

  html {
    scroll-behavior: smooth;
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}

.animate-fadeOut {
  animation: fadeOut 1s ease-out forwards;
  animation-delay: 1.5s; /* start fade just before 2s timer ends */
}

@keyframes progress {
  0% { width: 0%; }
  100% { width: 100%; }
}

.animate-progress {
  animation: progress 2s ease-out forwards;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide-in {
  animation: fadeSlideIn 1s ease-out forwards;
}
